.services {
  position: relative;

  &__inner {
    display: flex;
    margin: 0 auto;
    padding-right: max(15px, calc((100% - 1440px) / 2));

    @include tablet {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  &__box {
    flex-shrink: 0;
    margin-right: 40px;
    width: calc(100% - 990px);

    @include desktop-lg {
      width: calc(100% - 790px);
    }

    @include desktop {
      width: calc(100% - 540px);
    }

    @include tablet {
      display: none;
    }
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 950px;

    @include desktop-lg {
      max-width: 750px;
    }

    @include desktop {
      max-width: 500px;
    }

    @include tablet {
      margin: 0 auto;
      padding-left: max(15px, calc((100% - 1440px) / 2));
      max-width: fit-content;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include desktop {
      justify-items: center;
      grid-template-columns: repeat(1, auto);
      gap: 20px;
    }

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    @include mobile-l {
      grid-template-columns: repeat(1, auto);
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    padding: 20px 20px 30px;
    width: 100%;
    max-width: 455px;
    box-shadow: 0 4px 20px rgba(162 162 162 / 30%);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: var(--line-gradient);
      opacity: 0;
      transition: opacity 0.5s linear;
    }
    
    p {
      width: 100%;
      max-width: 370px;
      font-size: 18px;

      @include mobile-s {
        font-size: 16px;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    @include mobile-s {
      padding: 10px 10px 20px;
    }
  }

  &__icon {
    @include flex-v-center;

    position: relative;
    margin-bottom: 30px;
    padding-left: 110px;
    min-height: 80px;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      width: 60px;
      height: 60px;
      background-image: url("../img/sprite.svg#people");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include mobile-s {
        width: 45px;
        height: 45px;
      }
    }

    &--people {
      &::before {
        background-image: url("../img/sprite.svg#people");
      }
    }

    &--bank {
      &::before {
        background-image: url("../img/sprite.svg#bank");
      }
    }

    &--justice {
      &::before {
        background-image: url("../img/sprite.svg#justice");
      }
    }

    &--goal {
      &::before {
        background-image: url("../img/sprite.svg#goal");
      }
    }

    @include mobile-s {
      margin-bottom: 10px;
      padding-left: 80px;
      min-height: 60px;
    }
  }
}
