:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #052a24;
  --color-active: #e48c07;
  --color-yellow: #d5aa6d;
  --color-gray: #4f4f4f;
  --line-gradient: linear-gradient(144deg, #fbeb7e 83%, #f7ce68 99%);
  --width: calc((945 / 1920) * 100vw);
  --top: calc((200 / 1024) * 100%);
  --line-gradient-bg: linear-gradient(105.82deg, #011512 0.68%, #052a24 100%);
}
